@mixin wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

@mixin clickable {
  cursor: pointer;
  user-select: none;
}

@mixin center {
  display: flex;
  justify-content: center;
}
