@import "../styles/utils";
.wrapper {
  @include wrapper;
  &__center {
    @include center;
  }
  .chunks {
    margin: 5px;
    padding: 3px;
  }

  &__input {
    @include center;
  }
  .form {
    text-align: center;
  }
}
