@import "../styles/utils";
.wrapper {
  @include wrapper;
  &__center {
    @include center;
  }
  .match_table {
    margin: 3px auto;
    font-size: 18px;
    thead th {
      padding: 10px;
      width: auto;
      text-align: center;
    }
    tbody td {
      max-width: 300px;
      padding: 7px 10px;
      text-align: left;
      border-top: 2px solid #ccc;
    }
    span {
      margin: 3px;
      padding: 7px 2px;
    }
  }
}
