@import "../styles/utils";
.wrapper {
  @include wrapper;
  &__table {
    @include center;
  }
  .match_table {
    margin: 3px auto;
    font-size: 18px;
    thead th {
      padding: 10px;
      width: auto;
      text-align: center;
    }
    tbody td {
      max-width: 300px;
      padding: 7px 10px;
      text-align: left;
      border-top: 2px solid #ccc;
    }
    span {
      margin: 3px;
      padding: 7px 2px;
    }
  }

  &__center {
    @include center;
    .error {
      @include center;
      background-color: #ffa6a1;
      width: 480px;
      border-radius: 10px;
      padding: 20px 10px;
      .icon {
        margin-right: 5px;
        vertical-align: -2.5px;
      }
      span {
        text-align: center;
        color: rgb(54, 54, 54);
      }
    }
  }
}
