@import "../styles/utils";
.wrapper {
  @include wrapper;
  &__center {
    @include center;
    .error {
      @include center;
      background-color: #ffa6a1;
      width: 480px;
      border-radius: 10px;
      padding: 20px 10px;
      .icon {
        margin-right: 5px;
        vertical-align: -2.5px;
      }
      span {
        text-align: center;
        color: rgb(54, 54, 54);
      }
    }
  }
}
