@import "../styles/utils";

.input {
  margin: auto;
  font-size: 20px;
  &__number {
    padding: 2px 10px;
    width: 120px;
    border-radius: 4px;
    border-color: #ccc;
    text-align: center;
    border: 2px solid #ccc;
  }
  &__number::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: black;
  }
}
